<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lateralpraxis.lpsmartfarm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHome"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityClose"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityChangePassword"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.FarmerCreateStep1"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewImage"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.FarmerPOAPOI"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityBlockAssignment"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityFarmerList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityFarmerUpdate"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.UpdateBlockAssignment"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityFarmerView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityUpdateFarmer"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityFarmerRelatives"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityFarmerLoan"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityFarmerAssets"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmer.ActivityUpdateFarmer$ActivityUpdateBlockAssignment"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlock"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockSoil"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockOther"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockCroppingPattern"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockCharacterstic"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockIssues"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockCoordinate"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockUpdate"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.FarmBlockCoordinateUpdate"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.ActivityAddPlantation"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.ActivityPlantationList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.ActivityAddInterCropping"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.ActivityViewPlantation"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmblock.ActivityViewInterCropping"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.ReportingStep1"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.ReportingStep2"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.SearchFarmer"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.ReportingStep3"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.ReportingView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.ReportingStep4"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.UnplannedView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.AddUnplanned"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityAddNurseryPlantation"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityViewNurseryPlantationList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityViewNurseryPlantation"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityViewNurseryInterCropping"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityAddNurseryInterCropping"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityUpdateNurseryPlantation"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name" />
        <activity
            android:name=".visits.RoutineVisitList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitView"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisit1"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisit2"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisit3"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisit4"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisit5"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.FarmReportList"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".farmreporting.FarmReportDetail"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitNurseryList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitNurseryView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitNursery1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitNursery2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitNursery3"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".visits.RoutineVisitNursery4"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.Nursery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.NurseryView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.NurseryZone"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityNurseryZone"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityNurseryZoneCoordinate"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.ActivityNurseryZoneCoordinateUpdate"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nursery.NurseryZoneView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.NurseryReportList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.ReportingNursery1"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.ReportingNursery2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.NurseryReporting3"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.NurseryReporting4"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.NurseryUnplanned"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.NurseryAdditional"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nurseryreporting.NurseryReportDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommendation.RecommendationList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommendation.Recommendation2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommendation.Recommendation3"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommendation.RecommendationView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmation.JobCardConfirmationStep3"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recommendation.RecommendationNurseryList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmation.JobCardConfirmationDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmation.PendingJobCard"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmation.PendingNurseryJobCard"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmation.JobCardNurseryConfirmationDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".confirmation.JobCardNurseryConfirmation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".returns.ActivityMainStockReturn"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".returns.ActivityStockReturnDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".delivery.ActivityViewPendingDispatch"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".delivery.ActivityAddDelivery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".delivery.ActivityAddPayment"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".delivery.ActivityViewDelivery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>